<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ToolPath" value ="D:\Tool\nuget"/>
    <add key="NugetUrl" value ="http://www.mynuget.com"/>
    <add key="ApiUri" value ="/api/version/get/"/>
    <add key="Pwd" value ="70CEF7B0-870F-4169-A241-00DCA9F27DDE"/>
    <add key="PackagesUrl" value ="\\192.168.10.16\d$\EastWestWalk\Projects\IIS\Web\MyNuget\1.0.0.5\Packages\"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>